[submodule "Jumper_ATL/lib/AdvTiledLoader"]
	path = Jumper_ATL/lib/AdvTiledLoader
	url = git://github.com/Kadoba/Advanced-Tiled-Loader
[submodule "Jumper_ATL/lib/anim8"]
	path = Jumper_ATL/lib/anim8
	url = git://github.com/kikito/anim8
[submodule "Jumper_ATL/lib/Jumper"]
	path = Jumper_ATL/lib/Jumper
	url = git://github.com/Yonaba/Jumper
